@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Iceland&family=Nosifer&family=Open+Sans:wght@300&family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
body, html {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Philosopher', sans-serif;
    font-family: 'Faster One', cursive;*/
    font-family: 'Iceland', cursive;
}
.logo {
    position: absolute;
    right: 15em;
    top: 38px;
    width: 5em;
    height: auto;
}
select {
    border: 1px solid black;
}
textarea {
    border: 1px solid black;
}
input {
    border: 1px solid black;
}
.nav-wrapper {
    display: flex;
    justify-content: center;
    padding: 38px;
}
.left-side {
    display: flex;
}
.nav-wrapper > .left-side > div {
    font-size: 2.0em;
}
.nav-link-wrapper a {
    color: grey;
    text-decoration: none;
    transition: all 200ms;
    border: 1px solid silver;
    padding: 8px;
}
.nav-link-wrapper a:hover {
    color: black;
    border: 1px solid black;
    box-shadow: 0px 5px #0F2259;
}
a.active {
    color: #0F2259;
    border: 1px solid black;
    box-shadow: 0px 5px #0F2259;
}
span {
    font-size: 1.0em;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 105px;
    z-index: 1;
    transition: all 500ms;
}
.dropdown-content a {
    text-decoration: none;
    color: darkblue;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.form {
    margin-top: 13em;
    display: flex;
    justify-content: center;
}
.form > form > div {
    margin-top: 10px;
}
.form > form > div > label {
    font-size: 1.8em;
}
.form > form > div > input {
    margin-top: 10px;
    font-size: 1em;
    width: 10em;
    padding: 5px;
    height: 1.3em;
    width: 15em;
    box-shadow: 0px 5px #0F2259;
    transition: 200ms;
}
.form > form > div > input:focus {
    box-shadow: none;
}
.form > form > div > select {
    height: 32.8px;
    width: 10.6em;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    font-size: 1em;
    padding: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: 200ms;
    box-shadow: 0px 5px #0F2259;
}
.form > form > div > select:focus {
    box-shadow: none;
}
.form > form > button {
    margin-top: 10px;
    background-color: white;
    font-size: 1.0em;
    transition: all 200ms;
    padding: 8px;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 0px 5px #BF0413;
}
.form > form > button:hover {
    background-color: #BF0413;
    color: white;
    box-shadow: none;
}
#register .form {
    margin-top: 6em;
}
#register .form > form > div > button {
    margin-top: 5px;
    background-color: white;
    font-size: 1.3em;
    transition: all 200ms;
    padding: 8px;
    border: 1px solid black;
    cursor: pointer;
    font-family: 'Iceland', cursive;
    box-shadow: 0px 5px #BF0413;
}
#register .form > form > div > button:hover {
    background-color: #BF0413;
    box-shadow: none;
    color: white;
}
#a-float {
    float: left;
    width: 11em;
}
.form > form > div > a {
    color: black;
    font-size: 1.3em;
    text-decoration: none;
    transition: color 150ms;
}
.form > form > div > a:hover {
    color: blue;
}
#logged select {
    font-size: 1em;
    margin-top: 10px;
    padding: 3px;
}
#logged input[name="logged3-group"] {
    background-color: lightblue;
    color: black;
    border: 1px solid black;
}
.footer {
    display: flex;
    justify-content: center;
}
.copyright {
    bottom: 2em;
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 13em;
}

/* Logged In */
.logout {
    font-family: 'Iceland', cursive;
    margin-top: 15px;
    padding: 5px;
    font-size: 1.3em;
    background-color: white;
    color: black;
    border: solid 1px black;
    cursor: pointer;
    box-shadow: 0px 5px #BF0413;
    transition: 200ms;
}
.logout:hover {
    box-shadow: none;
    background-color: #BF0413;
    color: white;
}
.signuperror {
    color: red;
    font-weight: bold;
}
.userlogged {
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 12px;
    font-size: 1.3em;
    position: absolute;
    left: 10em;
    cursor: pointer;
    transition: 300ms;
    top: 2em;
    text-decoration: none;
    box-shadow: 0px 15px #0F2259;
}
.userlogged:hover {
    background-color: white;
    color: white;
    box-shadow: none;
    background-color: #0F2259;
}
.success {
    color: green;
    font-weight: bold;
    position: absolute;
    right: 42em;
    top: 5em;
    font-family: 'Iceland', cursive;
    font-size: 1.3em;
}
.account-logged {
    padding: 50px;
    font-size: 1.3em;
    color: black;
    font-family: 'Maven Pro', sans-serif;
}
.account-logged a {
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    font-family: 'Iceland', cursive;
    transition: 200ms;
}
.account-logged a:hover {
    color: blue;
}
.accoung-logged p {
}
.width-logged {
    margin-left: 2.8em;
}
.width-logged2 {
    margin-left: 5em;
}