@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Iceland&family=Nosifer&family=Open+Sans:wght@300&family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
body, html {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Philosopher', sans-serif;
    font-family: 'Faster One', cursive;*/
    font-family: 'Iceland', cursive;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    line-height: 1.0;
}
.container {
    height: 100vh;
    min-height: 100%;
    background-image: url("../images/wp_blur.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.logo {
    position: absolute;
    right: 15em;
    top: 38px;
    width: 5em;
    height: auto;
}
select {
    -webkit-appearance: none;
    border: 1px solid black;
}
textarea {
    border: 1px solid black;
}
input {
    border: 1px solid black;
}
.nav-wrapper {
    display: flex;
    justify-content: center;
    padding: 38px;
}
.left-side {
    display: flex;
}
.nav-wrapper > .left-side > div {
    margin-right: 0;
    font-size: 2.2em;
}
.nav-link-wrapper a {
    opacity: 0.7;
    color: white;
    text-decoration: none;
    transition: all 100ms;
    border: 1px solid silver;
    padding: 8px;
    text-shadow: 1px 1px 0 black;
}
.nav-link-wrapper a:hover {
    text-shadow: 3px 3px 0 black;
    opacity: 1;
    color: white;
    border: 1px solid #0F2259;
    box-shadow: 0px 5px #0F2259;
}
a.active {
    text-shadow: 3px 3px 0 black;
    opacity: 1;
    color: white;
    border: 1px solid #0F2259;
    box-shadow: 0px 5px #0F2259;
}
#a-submit a {
    border: none;
}
#a-classes a {
    border: none;
}
#a-account  a {
    border: none;
}
span {
    font-size: 1.0em;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 105px;
    z-index: 1;
    transition: all 500ms;
}
.dropdown-content a {
    text-decoration: none;
    color: darkblue;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
}
.form > form > div {
    margin-top: 10px;
}
.form > form > div > label {
    font-size: 1.8em;
    color: white;
    text-shadow: 2px 2px 0 black;
}
.form > form > div > input {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 10px;
    border: none;
    color: white;
    font-size: 1em;
    width: 10em;
    padding: 5px;
    height: 1.3em;
    width: 15em;
    box-shadow: 0px 3px #0F2259;
    -webkit-box-shadow: 0px 3px #0F2259;
    transition: 200ms;
}
.form > form > div > input:focus {
    background-color: transparent;
}
.form > form > div > select {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.1);
    height: 32.8px;
    width: 10.6em;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    border: none;
    font-size: 1em;
    padding: 5px;
    transition: 200ms;
    box-shadow: 0px 3px #0F2259;
    -webkit-box-shadow: 0px 3px #0F2259;
}
.form > form > div > select > option {
    color: black;
}
.form > form > button {
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 10px;
    font-size: 1.3em;
    transition: all 200ms;
    padding: 8px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Iceland', cursive;
    box-shadow: 0px 5px #BF0413;
    -webkit-box-shadow: 0px 5px #BF0413;
}
.form > form > button:hover {
    background-color: #BF0413;
    color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
}

/* Mobile Responsive
/* Logo & Logged In disapear */
@media (max-width: 1150px) {
    .logo {display: none;}
    .userlogged {display: none;}
}

#register .form > form > div > button {
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 0px;
    font-size: 1.3em;
    transition: all 200ms;
    padding: 8px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Iceland', cursive;
    box-shadow: 0px 5px #BF0413;
}
#register .form > form > div > button:hover {
    background-color: #BF0413;
    box-shadow: none;
    -webkit-box-shadow: none;
}
#a-float {
    float: left;
    width: 11em;
}
.form > form > div > a {
    color: black;
    font-size: 1.3em;
    text-decoration: none;
    transition: all 150ms;
}
.form > form > div > a:hover {
    color: blue;
    margin-left: 10px;
}
.footer {
    display: flex;
    justify-content: center;
}
.copyright {
    text-shadow: 2px 2px 0 black;
    align-items: center;
    bottom: 1em;
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 1.4em;
    width: 15em;
    transition: 200ms;
    /*background-image: linear-gradient(transparent 60%,  #BF0413 0px);*/
}
.copyright > a {
    color: white;
    transition: 200ms;
}
.copyright > a:hover {
    color: silver;
}

/* Logged In */
.logout {
    background-color: rgba(255, 255, 255, 0.1);
    font-family: 'Iceland', cursive;
    margin-top: 10px;
    padding: 8px;
    font-size: 1.3em;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0px 5px #BF0413;
    transition: 200ms;
}
.logout:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #BF0413;
}
.userlogged {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    padding: 12px;
    font-size: 1.3em;
    position: absolute;
    left: 10em;
    cursor: pointer;
    transition: 300ms;
    top: 2em;
    text-decoration: none;
    box-shadow: 0px 10px #0F2259;
}
.userlogged:hover {
    background-color: white;
    color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #0F2259;
}
.btn-logged {
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: -10px;
    margin-right: 10px;
    font-family: 'Iceland', cursive;
    margin-top: 15px;
    padding: 8px;
    font-size: 1.3em;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0px 5px #BF0413;
    transition: 200ms;
}
.btn-logged:hover {
    box-shadow: none;
    background-color: #BF0413;
    color: white;
}
#edit-btn {
    box-shadow: 0px 5px #0F2259;
}
#edit-btn:hover {
    box-shadow: none;
    background-color: #0F2259;
}
#save-btn {
    box-shadow: 0px 5px green;
    visibility: hidden;
}
#save-btn:hover {
    box-shadow: none;
    background-color: green;
}
#cancel-btn {
    visibility: hidden;
}
.div-logged {
    height: 1em;
    margin-top: 10px;
}
.select-logged {
    -webkit-appearance: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    width: 8em;
    border: none;
    height: 2.1em;
    padding: 5px;
    font-size: 1em;
    transition: 200ms;
    box-shadow: 0px 3px #0F2259;
    font-family: 'Maven Pro', sans-serif;
}
.select-logged option {
    color: black;
}
.select-logged:focus {
    background-color: transparent;
}
.input-logged {
    -webkit-appearance: none;
    color: white;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    width: 17em;
    padding: 5px;
    font-size: 1em;
    height: 1.3em;
    -webkit-transition: 200ms;
    transition: 200ms;
    box-shadow: 0px 3px #0F2259;
    font-family: 'Maven Pro', sans-serif;
}
.input-logged:focus {
    background-color: transparent;
}
.account-logged {
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
    justify-content: center;
    color: black;
    font-family: 'Maven Pro', sans-serif;
}
.account-logged p{
    color: white;
    margin: 0;
    padding: 30px 0 0 0;
    font-family: 'Iceland', cursive;
    font-size: 1.8em;
    text-shadow: 2px 2px 0 black;
}
.account-logged a {
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    font-family: 'Iceland', cursive;
    transition: 200ms;
}
.account-logged a:hover {
    color: blue;
}
#account .input-text {
    color: black;
    font-size: 1.3em;
    margin: 0 10px 0 0;
    padding: 0 15px 0 0;
    text-decoration: none;
    -webkit-transition: color 150ms;
    transition: color 150ms;
}

/* CHANGE PASSWORD */
#change #change_cont {
    height: 100vh;
    min-height: 100%;
    /*background-color: #0F2259;*/
    background-image: url("../images/wp_blur.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#change #change_main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("../images/wp_blur.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#change #change_main > form > div > input {
    width: 20em;
    padding: 4px;
    border: none;
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 10px;
}
#change #change_main > form > div > label {
    font-size: 1.7em;
    color: white;
}
#change #change-btn {
    width: 20.5em;
    padding: 6px;
    border: none;
    margin-top: 5px;
    font-size: 1.1em;
    color: white;
    background-color: black;
    transition: 200ms;
    cursor: pointer;
}
#change #change-btn:hover {
    background-color: white;
    color: black;
}
#change #change-bck {
    text-decoration: none;
    font-size: 1.8em;
    color: black;
    -webkit-transition: 200ms;
    transition: 200ms;
}
#change #change-bck:hover {
    color: blue;
    margin-left: 10px;
}
#change .change-text {
    position:relative;
    background-image:linear-gradient(transparent 60%, #0F2259 0px);
    color: white;
    font-size: 1.8em;
    margin: 0;
}
@media (max-width: 700px) { 
    #change #change_main > form > div > input { font-size: 0.9em;}
    #change #change_main > form > div > label { font-size: 1.3em;}
    #change #change-btn { font-size: 0.9em; }
    #change .change-text { font-size: 1.2em; }
}
@media (max-width: 450px) { 
    #change .change-text { font-size: 1em; }
}

/* gallery */

#gallery body,html {
    margin: 0;
    padding: 0;
    background-color: black;
}
#gallery #gallery_cont {
    height: 20vh;
    width: 100%;
    background-color: black;
}
.gallery-back {
    margin-left: 20px;
    margin-top: 8em;
    margin-bottom: 20px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    font-size: 1.6em;
    font-family: 'Iceland', cursive;
    padding: 10px;
    border: none;
    box-shadow: 0px 5px #BF0413;
    color: white;
    transition: 200ms;
}
.gallery-back:hover {
    background-color: #BF0413;
    color: white;
    box-shadow: none;
}

#gallery #absolutecenter {
    display: none;
    bottom: 0;
    height: auto;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100em;
    max-height: 100em;
}
#gallery #close  {
    font-size: 4em;
    color: #BF0413;
    padding: 20px;
    margin-left: 15px;
    height: 0.8em;
    width: 0.8em;
    cursor: pointer;
    z-index: 1001;
    transition: 200ms;
}
#gallery #close:hover {
    color: white;
}
#gallery #download {
    padding: 20px;
    margin-left: 0;
}
#gallery .a-download:hover {
    color: white;
}
#gallery .a-download {
    transform: rotate(180deg);
    text-decoration: none;
    font-size: 4em;
    color: #BF0413;
    height: 0.8em;
    width: 0.8em;
    cursor: pointer;
    z-index: 1001;
    transition: 200ms;
}
#gallery .header {
    font-size: 2vh;
    align-items: center;
    position: fixed;
    color: white;
    background-color: black;
    height: 6.5em;
    width: 100%;
    z-index: 100;
}
#gallery .wrapper > img {
    transition: 200ms;
    width: 100% !important;
    height: auto !important;
    transform: scale(0.9);
}

/* Grid Responsive */
#gallery .wrapper {
    /* Prevent vertical gaps */
    line-height: 0;
        
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px; 
}
@media (max-width: 1200px) {
    #gallery .wrapper {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
    }
}
  @media (max-width: 1000px) {
    #gallery .wrapper {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
}
  @media (max-width: 800px) {
    #gallery .wrapper {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
}
  @media (max-width: 400px) {
    #gallery .wrapper {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    }
}
.add-button {
    position: absolute;
    top: 1px;
    left: 1px;
}

/* Grades */

#grades body,html {
    margin: 0;
    padding: 0;
    background-color: black;
}
#grades #grades_cont {
    height: 20vh;
    width: 100%;
    background-color: #ddd;
}
/* Table */
#grades table {
    color: black;
    border-spacing: 0;
    width: 100%;
    /* border: 1px solid silver; */
    background-color: #ddd;
}
#grades .grades_wrapper {
    /* overflow-x: scroll; */
}
#grades th {
    font-size: 1.4em;
    cursor: pointer;
    font-family: 'Iceland', cursive;
}
#grades th, td {
    text-align: left;
    padding: 16px;
}
#grades td {
    font-family: 'Maven Pro', sans-serif;
}
#grades tr:nth-child(even) {
    background-color: silver;
}
/* #grades .gradetable {
    width: 5em;
}
#grades .weightingtable {
    width: 5em;
} */
#grades .idtable {
    width: 1em;
    text-align: center;
    border-right: 1px solid black;
}
@media screen and (max-width: 1000px) {
    #grades th { font-size: 1.2em; }
    #grades td { font-size: 0.7em; }
}