// Vars
@arial: Arial, Helvetica, sans-serif;

.container {
  width: 100%;
  height: 100vh;
}
body,html {
  max-width: 100%;
  margin:0;
  padding:0;
}
label {
  color: white;
  font-size: 1.0em;
}

// Calendar listing
.calendar {
  width: 100%;
  height: 10em;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}
.calendar > div {
  text-align: center;
  width: 25%;
  font-family: @arial;
  border-bottom: 1px solid black;
  background-color: white;
  color: black;
}
.title {
  font-weight: bold;
  font-size: 1.1em;
}
.calendar > div > form > input {
  border: none;
  background-image: linear-gradient(white 0%,  darkred 0px);  
  color: white;
  padding: 4px;
  cursor: pointer;
  transition: 500ms;
  margin-bottom: 20px;
}

// Submission Form
.submission > form {
  width: 20em;
}
.submission {
  background-color: #2E3333;
  color: white;
  font-family: @arial;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40em;
  transition: 300ms;
}
  // BTN
.submission > form > div > input[type="submit"] {
  color: white;
  -webkit-appearance: none;
  appearance: none;
  width: 30%;
  border: none;
  font-size: 0.9em;
  margin: 15px 0 0 0;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: 200ms;
}
.submission > form > div > input[type="submit"]:hover {
  background-color: black;
}
.submission > form > div > input {
  height: 2.4em;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 8px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
  margin-top: 5px;
}
.submission > form > div > select {
  height: 2.4em;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 8px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
  margin-top: 5px;
}
option {
  color: black;
}
.submission > form > div > textarea {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  resize: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 8px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0px;
  margin-top: 5px;
}
.back {
  display: flex;
  align-self: flex-end;
  justify-content: left; 
  position: absolute;
  left: 0px;
  top: 0em;
}
.back > a {
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
  transition: 150ms;
}
#e-btn {
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px;
  width: 5em;
  font-size: 1.0em;
  transition: 200ms;
  margin: 0;
}
#e-back2 {
  display: flex;
  align-self: flex-end;
  justify-content: left; 
  position: absolute;
  right: 0px;
  top: 0em;
}
#b-btn {
  padding: 8px 8px 8px 8px;
  -webkit-appearance: button;
  appearance: button;
  text-decoration: none;
  background-color: #BF0413;
  color: white;
  border: none;
  cursor: pointer;
  width: 4em;
  font-size: 1.0em;
  transition: 200ms;
  text-align: center;
  margin: 0;
}
#e-btn:hover {
  background-color: #009100;
}
#b-btn:hover {
  background-color: #CC0415;
}

// Mobile
@media (max-width: 400px) {
  .calendar > div { width: 100%; }
}
@media (max-width: 600px) {
  .submission > form > div > input { padding: 4px; }
  .submission > form > div > textarea { padding: 4px; }
  .submission > form > div > select { padding: 4px; }
  label { font-size: 1em; }
}
@media (max-width: 800px) {
  .calendar > div { width: 100%; }
}