@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Iceland&family=Nosifer&family=Open+Sans:wght@300&family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@600&display=swap');

body, html {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Iceland', cursive;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}
.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100%;
    background-image: url("../images/wp_blur_JXR.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background-color: grey;
}  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0F2259;
}
.logo {
    position: fixed;
    right: 15em;
    top: 38px;
    width: 5em;
    height: auto;
}
.nav-wrapper {
    display: flex;
    justify-content: center;
    padding: 38px;
}
.left-side {
    display: flex;
}
.nav-wrapper > .left-side > div {
    margin-right: 0;
    font-size: 2.2em;
}
.nav-link-wrapper a {
    opacity: 0.7;
    color: white;
    text-decoration: none;
    -webkit-transition: all 150ms;
    transition: all 150ms;
    border: 1px solid silver;
    padding: 8px;
    text-shadow: 1px 1px 0 black;
}
.nav-link-wrapper a:hover {
    text-shadow: 3px 3px 0 black;
    opacity: 1;
    color: white;
    border: 1px solid #0F2259;
    -webkit-box-shadow: 0px 5px #0F2259;
    -moz-box-shadow: 0px 5px #0F2259;
    box-shadow: 0px 5px #0F2259;
}
a.active {
    text-shadow: 3px 3px 0 black;
    opacity: 1;
    color: white;
    border: 1px solid #0F2259;
    -webkit-box-shadow: 0px 5px #0F2259;
    -moz-box-shadow: 0px 5px #0F2259;
    box-shadow: 0px 5px #0F2259;
}
#a-submit a {
    border: none;
}
#a-classes a {
    border: none;
}
#a-account  a {
    border: none;
}
span {
    font-size: 1.0em;
}
/* Burger Icon / Mobile Navigation */
#wall {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 0;
    justify-content: flex-start;
    height: 100vh;
    background-color: #0F2259;
    float: left;
    z-index: 1000;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    align-items: center;
}
#wall > div > div{
    padding: 8px;
    display: flex;
    justify-content:  center;
}
.burger-link-container {
    margin-top: 3em;
}
.burger-link {
    cursor: default;
    pointer-events: none;        
    text-decoration: none;
    opacity: 0;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}
.burger-icon {
    z-index: 1001;
    left: 10px;
    top: 5px;
    position: fixed;
    display: none;
    cursor: pointer;
  }
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: silver;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.change .bar1 {
    background-color: red;
    -webkit-transform: rotate(-45deg) translate(-9px, 7px);
    transform: rotate(-45deg) translate(-9px, 7px);
}

.change .bar2 {
    opacity: 0;    
    background-color: red;
}

.change .bar3 {
    background-color: red;
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width: 520px) {
    .nav-link-wrapper { display: none; }
}
@media screen and (max-width: 520px) {
    .burger-icon { display: inline-block; }
}
form {
    -webkit-appearance: none;
}
.form {
    -webkit-appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
}
/* Submit Page */
#index .form > form > div {
    margin-top: 10px;
}
label {
    font-size: 1.8em;
    color: white;
    text-shadow: 2px 2px 0 black;
}
#index .form > form > div > input {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 10px;
    font-size: 1em;
    width: 10em;
    border: none;
    color: white;
    opacity: 1;
    padding: 5px;
    height: 1.3em;
    -webkit-transition: 200ms;
    transition: 200ms;
    -moz-box-shadow: 0px 3px #0F2259;
    -webkit-box-shadow: 0px 3px #0F2259;
    box-shadow: 0px 3px #0F2259;
    font-family: 'Maven Pro', sans-serif;
}
#index .form > form > div > input:focus {
    background-color: transparent;
}
#index .form > form > div > select {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    height: 30.8px;
    width: 10.6em;
    font-family: 'Maven Pro', sans-serif;
    margin-top: 10px;
    font-size: 1em;
    padding: 5px;
    border: none;
    -webkit-transition: 200ms;
    transition: 200ms;
    -moz-box-shadow: 0px 3px #0F2259;
    -webkit-box-shadow: 0px 3px #0F2259;
    box-shadow: 0px 3px #0F2259;
}
#index .form > form > div > select > option {
    color: black;
}
#index .form > form > div > textarea {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: 'Maven Pro', sans-serif;
    margin-top: 10px;
    font-size: 1em;
    border: none;
    width: 30em;
    padding: 5px;
    resize: none;
    -webkit-transition: 200ms;
    transition: 200ms;
    color: white;
}
#index .form > form > div > textarea:focus {
    background-color: transparent;
}
#index .form > form > button {
    background-color: rgba(255, 255, 255, 0.1);
    font-family: 'Iceland', cursive;
    margin-top: 15px;
    font-size: 1.3em;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    padding: 8px;
    cursor: pointer;
    color: white;
    -webkit-box-shadow: 0px 5px #BF0413;
    box-shadow: 0px 5px #BF0413;
    border: none;
}
#index .form > form > button:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #BF0413;
}
#index .float {
    float: left;
    width: 8em;
    margin-right: 12em;
}
#index .form > form > div > input#fileToUpload {
    width: 29.5em;
    padding: 10px;
    margin-bottom: 20px;
}
#index .submit-handler {
    font-size: 1.5em;
    position: relative;
    font-weight: bold;
}
.footer {
    display: flex;
    justify-content: center;
}
.copyright {
    text-shadow: 2px 2px 0 black;
    align-items: center;
    bottom: 1em;
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 1.4em;
    width: 15em;
    -webkit-transition: 200ms;
    transition: 200ms;
    /*background-image: linear-gradient(transparent 60%,  #BF0413 0px);*/
}
.copyright > a {
    color: white;
    -webkit-transition: 200ms;
    transition: 200ms;
}
.copyright > a:hover {
    color: silver;
}

/* Mobile Responsive */
@media (max-width: 580px) {
    #index .form > form > div > label {font-size: 1.4em;}
    #index .form > form > div.float {width: 3.5em;}
    #index .form > form > div > textarea {width: 25.5em;}
    #index .form > form > div > input#fileToUpload {width: 25em;}
}
@media (max-width: 460px) {
    #index .form > form > div > label {font-size: 1.4em;}
    #index .form > form > div.float {width: 1.6em;}
    #index .form > form > div > textarea {width: 21.7em; font-size: 1em;}
    #index .form > form > div > input {width: 9em; font-size: 0.9em;}
    #index .form > form > div > input#fileToUpload {width: 23.5em;}
    #index .form > form > div > select {width: 9.7em; font-size: 0.9em;}
}
/* Logo & Logged In disapear */
@media (max-width: 1150px) {
    .logo {display: none;}
    .userlogged {display: none;}
}
/* iPhone X Submit */
@media (max-width: 375px) and (max-height: 812px) {
}
/* iPhone 6/7/8 PLUS Submit */
@media (max-width: 414px) and (max-height: 736px) {
}
/* iPhone 6/7/8 Submit */
@media (max-height: 667px) {
    #index .form > form > div > input#fileToUpload {margin-bottom: 5px;}
}
/* Galaxy S9/S9+ Submit */
@media (height: 740px) {
    #index .form > form > div.float {width: 1.4em;}
    #index .form > form > div > textarea {width: 21em; font-size: 1em;}
    #index .form > form > div > input {width: 8.3em; font-size: 0.9em;}
    #index .form > form > div > select {width: 8.7em; font-size: 0.9em;}
}
/* iPad Submit */
@media (height: 1024px) {
}
/* Laptop with MDPI Screen Submit */
@media (width: 1280px) and (height: 800px) {
}

/* Classes Page */
#classes option {
    color: black;
}
#classes .form > form > div > a {
    padding: 8px;
    margin: 0;
    margin-top: 15px;
    text-decoration: none;
    color: black;
}
#classes .class-center {
    position: relative;
}
#classes form {
    margin: 0;
    padding: 0;
    width: 30vw;
    display: flex;
    justify-content: center;
}
@media (max-width: 919px) { 
    #classes form { width: 70vw; }
}
#classes .form {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
    border: none;
    color: black;
    -webkit-transition: 200ms;
    transition: 200ms;
    align-items: baseline;
    display: flex;
    margin-top: 4vh;
}
@media (max-height: 890px) { 
    #classes .form { height: 65vh; }
}
#classes .c-delete {
    cursor: pointer;
    font-size: 1em;
    border: none;
    padding: 0;
    align-self: left;
    color: black;
    -webkit-transition: 200ms;
    transition: 200ms;
    background-color: transparent;
    -webkit-box-shadow: 0px 5px #BF0413;
    -moz-box-shadow: 0px 5px #BF0413;
    box-shadow: 0px 5px #BF0413;
}
#classes .c-delete:hover {
    background-color: #BF0413;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* Mobile Responsive */

/* Class Page */
#class .title {
    font-size: 1.3em;
    font-family: 'Maven Pro', sans-serif;
    position: relative;
    color: white;
    z-index: 100;
}
@media (max-width: 470px) {
    #class .title {font-size: 1.1em;}
}
#class #between {
    margin-left: 10px;
    margin-right: 10px;
}
#class .bck-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 12vh;
}
.bck-btn a {
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    font-size: 1.6em;
    font-family: 'Iceland', cursive;
    padding: 8px;
    position: relative;
    border: none;
    -moz-box-shadow: 0px 5px #BF0413;
    -webkit-box-shadow: 0px 5px #BF0413;
    box-shadow: 0px 5px #BF0413;
    color: white;
    -webkit-transition: 200ms;
    transition: 200ms;
}
.bck-btn a:hover {
    background-color: #BF0413;
    color: white;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Grade Table */
body {
    line-height: 1.0;
}
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
table caption {
    margin-bottom: 1em;
}
table tr {
    background-color: rgba(255, 255, 255, 0.6);
    border: 0px solid black;
    padding: .35em;
    -webkit-transition: 200ms;
    transition: 200ms;
}
table tr:hover {
    background-color: white;
}
table th,
table td {
    padding: .625em;
    text-align: center;
}
table th {
    font-family: 'Iceland', cursive;
    letter-spacing: .1em;
    text-transform: uppercase;
}
  
@media screen and (max-width: 4000px) {
    table {
        border: 0;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 5px solid black;
        display: block;
    }
    table td {
        font-family: 'Maven Pro', sans-serif;
        border-bottom: 1px solid black;
        display: block;
        font-size: 1em;
        text-align: right;
    }
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}
#class .small-image {
    -webkit-transition: 100ms;
    transition: 100ms;
}
#class .small-image:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
#class .trash-btn {
    cursor: pointer;
    font-size: 1em;
    border: none;
    padding: 4px;
    color: black;
    transition: 200ms;
    background-color: transparent;
    -webkit-box-shadow: 0px 5px #BF0413;
    -moz-box-shadow: 0px 5px #BF0413;
    box-shadow: 0px 5px #BF0413;
}
#class .trash-btn:hover { 
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #BF0413;
    color: white;
}
#class .download-btn {
    text-decoration: none;
    margin-right: 15px;
    cursor: pointer;
    font-size: 1em;
    border: none;
    padding: 6px;
    color: black;
    -webkit-transition: 200ms;
    transition: 200ms;
    background-color: transparent;
    box-shadow: 0px 5px #0F2259;
    -webkit-box-shadow: 0px 5px #0F2259;
    -moz-box-shadow: 0px 5px #0F2259;
}
#class .download-btn:hover { 
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #0F2259;
    color: white;
}
#class .form {
    width: 100%;
    height: 70vh;
    overflow: scroll;
    overflow-x: hidden;
    border: none;
    color: black;
    -webkit-transition: 200ms;
    transition: 200ms;
    align-items: baseline;
    display: flex;
    margin-top: 3vh;
}
#class .form:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0);
}
#class form {
    width: 50vw;
    display: flex;
    justify-content: center;
}
@media (max-width: 600px) { 
    #class form { width: 75vw; }
}
@media (max-height: 900px) { 
    #class .form { height: 50vh; }
}
@media (min-height: 900px) { 
    #class .form { height: 60vh; }
}
#class .class-info {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}
#class #absolutecenter {
    display: none;
    bottom: 0;
    height: auto;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100em;
    max-height: 100em;
}
#class #close  {
    font-size: 4em;
    color: #BF0413;
    padding: 20px;
    margin-left: 15px;
    height: 0.8em;
    width: 0.8em;
    cursor: pointer;
    z-index: 1001;
    -webkit-transition: 200ms;
    transition: 200ms;
}
#class #close:hover {
    color: white;
}
#class #download {
    padding: 20px;
    margin-left: 0;
}
#class .a-download:hover {
    color: white;
}
#class .a-download {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    text-decoration: none;
    font-size: 4em;
    color: #BF0413;
    height: 0.8em;
    width: 0.8em;
    cursor: pointer;
    z-index: 1001;
    -webkit-transition: 200ms;
    transition: 200ms;
}
#class .a-download:hover {
    padding-top: 5px;
}
#class .screenshotimg {
    cursor: pointer;
    max-width: 40px;
    height: 40px;
}

/* Logged In */
.userlogged {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    padding: 12px;
    font-size: 1.3em;
    position: absolute;
    left: 10em;
    cursor: pointer;
    transition: 300ms;
    top: 2em;
    text-decoration: none;
    -webkit-box-shadow: 0px 10px #0F2259;
    -moz-box-shadow: 0px 10px #0F2259;
    box-shadow: 0px 10px #0F2259;
}
.userlogged:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #0F2259;
}
#overview .form {
    height: 50vh;
    overflow: scroll;
    overflow-x: hidden;
    align-items: baseline;
    margin-top: 10vh;
}
#overview form#user-form {
    display: flex;
    justify-content: center;
    width: 100%;
}
#overview .main {
    display: flex;
    justify-content: center;
}
#overview .user-dropdown {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    height: 30.8px;
    width: 20em;
    font-family: 'Maven Pro', sans-serif;
    margin-top: 10px;
    font-size: 1em;
    padding: 5px;
    border: none;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-box-shadow: 0px 3px #0F2259;
    -moz-box-shadow: 0px 3px #0F2259;
    box-shadow: 0px 3px #0F2259;
}
#overview option {
    color: black;
}
#overview .class-btn {
    display: flex;
    justify-content: center;
    width: 20em;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0px 5px black;
    -moz-box-shadow: 0px 5px black;
    box-shadow: 0px 5px black;
    cursor: pointer;
    color: white;
    border: none;
    font-size: 1.0em;
    margin-bottom: 15px;
    -webkit-transition: 200ms;
    transition: 200ms;
}
#overview .class-btn:hover {
    background-color: black;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* Privacy Terms */
#privacy h1 {
    font-weight: normal;
    position: relative;
    text-shadow: 2px 2px 0 black;
    text-decoration: overline;
    font-size: 2.5em;
}
#privacy h2 {
    font-weight: normal;
    position: relative;
    font-size: 2em;
    text-shadow: 2px 2px 0 black;
}
#privacy .form > div  {
    width: 25em;
    color: white;
    position: relative;
}
#privacy .form > div > div  > p {
    font-weight: normal;
    color: white;
    font-family: 'Maven Pro', sans-serif;
    letter-spacing: 1px;
    position: relative;
    font-size: 1.2em;
}
#privacy .form {
    height: 75vh;
    position: fixed;
}
#privacy .p-button {
    margin-top: 3em;
    width: 25em;
    position: relative;
}
#privacy .p-button > a {
    position: relative;
    padding: 8px;
    color: white;
    text-decoration: none;
    font-size: 1.4em;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0px 5px #0F2259;
    -moz-box-shadow: 0px 5px #0F2259;
    box-shadow: 0px 5px #0F2259;
    -webkit-transition: 200ms;
    transition: 200ms;
    width: 25em;
}
#privacy .p-button > a:hover {
    box-shadow: none;
    background-color: #0F2259;
}
@media (max-width: 465px) {
    #privacy .form > div > div > p {font-size: 1.0em;}
    #privacy .form > div  {width: 20em;}
}


 /* Dropdown Button */
.dropdown-btn {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 8px;
    align-items: center;
    font-size: 1.4em;
    border: none;
    cursor: pointer;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    font-family: 'Iceland', cursive;
}

/* Dropdown button on hover & focus */
.dropdown-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.dropdown-arrow {
    font-size: 0.8em;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    display: inline-block;
    margin-left: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-bottom: 10em;
    display: none;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-family: 'Maven Pro', sans-serif;
    color: black;
    padding: 14px 18px;
    font-size: 1em;
    text-decoration: none;
    display: block;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}
.dropdown-content button {
    cursor: pointer;
    color: black;
    font-family: 'Maven Pro', sans-serif;
    text-align: start;
    border: none;
    font-size: 1em;
    padding: 14px 18px;
    text-decoration: none;
    display: block;
    min-width: 160px;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
.dropdown-content button:hover {background-color: #ddd;}
