@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Iceland&family=Nosifer&family=Open+Sans:wght@300&family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body, html {
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Philosopher', sans-serif;
    font-family: 'Faster One', cursive;*/
    font-family: 'Iceland', cursive;
    margin: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}
.container {
    height: 100vh;
    min-height: 100%;
    background-image: url("../images/wp_blur.png");
    background-size: cover;
    background-repeat: no-repeat;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background-color: grey;
}  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0F2259;
}
.logo {
    position: fixed;
    right: 15em;
    top: 38px;
    width: 5em;
    height: auto;
}
.nav-wrapper {
    display: flex;
    justify-content: center;
    padding: 38px;
}
.left-side {
    display: flex;
}
.nav-wrapper > .left-side > div {
    margin-right: 0;
    font-size: 2em;
}
.nav-link-wrapper a {
    opacity: 0.7;
    color: white;
    text-decoration: none;
    transition: all 200ms;
    border: 1px solid silver;
    padding: 8px;
}
.nav-link-wrapper a:hover {
    opacity: 1;
    color: white;
    border: 1px solid #0F2259;
    box-shadow: 0px 5px #0F2259;
}
a.active {
    opacity: 1;
    color: white;
    border: 1px solid #0F2259;
    box-shadow: 0px 5px #0F2259;
}
#a-submit a {
    border-left: none;
    border-right: none;
}
#a-classes a {
    border-left: none;
    border-right: none;
}
#a-account  a {
    border-left: none;
    border-right: none;
}
span {
    font-size: 1.0em;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    height: 75vh;
=======
    height: 70vh;
>>>>>>> f7f24dde061c006471212008027be0604e134665
    width: 100%;
}
/* Submit Page */
#index .form > form > div {
    margin-top: 10px;
}
label {
    font-size: 1.8em;
    color: white;
}
#index .form > form > div > input {
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 10px;
    font-size: 1em;
    width: 10em;
    border: none;
    color: white;
    opacity: 1;
    padding: 5px;
    height: 1.3em;
    transition: 200ms;
    box-shadow: 0px 3px #0F2259;
    font-family: 'Maven Pro', sans-serif;
}
#index .form > form > div > input:focus {
    background-color: transparent;
}
#index .form > form > div > select {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    height: 30.8px;
    width: 10.6em;
    font-family: 'Maven Pro', sans-serif;
    margin-top: 10px;
    font-size: 1em;
    padding: 5px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: 200ms;
    box-shadow: 0px 3px #0F2259;
}
#index .form > form > div > select > option {
    color: black;
}
#index .form > form > div > textarea {
    background-color: rgba(255, 255, 255, 0.1);
    font-family: 'Maven Pro', sans-serif;
    margin-top: 10px;
    font-size: 1em;
    border: none;
    width: 30em;
    padding: 5px;
    resize: none;
    transition: 200ms;
    box-shadow: 0px 3px #0F2259;
    color: white;
}
#index .form > form > div > textarea:focus {
    background-color: transparent;
}
#index .form > form > button {
    background-color: rgba(255, 255, 255, 0.1);
    font-family: 'Iceland', cursive;
    margin-top: 15px;
    font-size: 1.3em;
    transition: all 200ms;
    padding: 8px;
    cursor: pointer;
    color: white;
    box-shadow: 0px 5px #BF0413;
    border: none;
}
#index .form > form > button:hover {
    box-shadow: none;
    background-color: #BF0413;
}
#index .float {
    float: left;
    width: 8em;
    margin-right: 12em;
}
#index .form > form > div > input#fileToUpload {
    width: 29.5em;
    padding: 10px;
    margin-bottom: 20px;
}
.footer {
    display: flex;
    justify-content: center;
}
.copyright {
    align-items: center;
    color: white;
    bottom: 2em;
    height: 2em;
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 1.4em;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 10em;
}

/* Mobile Responsive */
@media (max-width: 580px) {
    .nav-wrapper > .left-side > .nav-link-wrapper {font-size: 1.9em;}
    #index .form > form > div > label {font-size: 1.4em;}
    #index .form > form > div.float {width: 3.5em;}
    #index .form > form > div > textarea {width: 25.5em;}
    #index .form > form > div > input#fileToUpload {width: 25em;}
}
@media (max-width: 460px) {
    .nav-wrapper > .left-side > .nav-link-wrapper {font-size: 1.9em;}
    #index .form > form > div > label {font-size: 1.4em;}
    #index .form > form > div.float {width: 1.6em;}
    #index .form > form > div > textarea {width: 21.7em; font-size: 1em;}
    #index .form > form > div > input {width: 9em; font-size: 0.9em;}
    #index .form > form > div > input#fileToUpload {width: 23.5em;}
    #index .form > form > div > select {width: 9.4em; font-size: 0.9em;}
}
/* Logo & Logged In disapear */
@media (max-width: 1150px) {
    .logo {display: none;}
    .userlogged {display: none;}
}
/* iPhone X Submit */
@media (max-width: 375px) and (max-height: 812px) {
}
/* iPhone 6/7/8 PLUS Submit */
@media (max-width: 414px) and (max-height: 736px) {
}
/* iPhone 6/7/8 Submit */
@media (max-height: 667px) {
    #index .form > form > div > input#fileToUpload {margin-bottom: 5px;}
}
/* Galaxy S9/S9+ Submit */
@media (height: 740px) {
    #index .form > form > div.float {width: 1.4em;}
    #index .form > form > div > textarea {width: 21em; font-size: 1em;}
    #index .form > form > div > input {width: 8.3em; font-size: 0.9em;}
    #index .form > form > div > select {width: 8.7em; font-size: 0.9em;}
}
/* iPad Submit */
@media (height: 1024px) {
}
/* Laptop with MDPI Screen Submit */
@media (width: 1280px) and (height: 800px) {
}

/* Classes Page */
.c-button {
    background-color: rgba(255, 255, 255, 0.1);
    font-family: 'Iceland', cursive;
    box-shadow: 0px 5px #BF0413;
    display: none;
    padding: 8px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.3em;
    transition: all 200ms;
    margin-top: 20px;
}
.c-button:hover {
    background-color: #BF0413;
    color: white;
    box-shadow: none;
}
<<<<<<< HEAD
#classes .form {
}
=======
>>>>>>> f7f24dde061c006471212008027be0604e134665
#classes .c-add {
    background-color: rgba(255, 255, 255, 0.1);
    font-family: 'Iceland', cursive;
    box-shadow: 0px 3px #BF0413;
    border: none;
    color: white;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 1.3em;
    transition: all 200ms;
}
#classes .c-add:hover {
    background-color: #BF0413;
    color: white;
    box-shadow: none;
}
#classes .c-rfloat {
    float: right;
}
#classes .c-lfloat {
    float: left;
}
#classes select {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    height: 32.8px;
    width: 10.6em;
    font-family: 'Maven Pro', sans-serif;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    padding: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: 200ms;
    box-shadow: 0px 3px #0F2259;
}
#classes select > option {
    color: black;
}
#classes input {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin-top: 10px;
    width: 10em;
    height: 1.3em;
    font-size: 1.0em;
    padding: 5px;
    box-shadow: 0px 3px #0F2259;
}
#classes .form > form > div > a {
    padding: 8px;
    margin: 0;
    margin-top: 15px;
    text-decoration: none;
    color: black;
}
#classes #classadded {
    width: 9em;
    position: absolute;
    height: 3em;
    color: green;
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Iceland', cursive;
}
#classes #classadded_container {
    display: flex;
    justify-content: center;
}

/* Mobile Responsive */

/* iPhone X Classes 
@media (max-width: 375px) and (max-height: 812px) {
    #classes .form {margin-top: 13em;}
    .nav-wrapper > .left-side > div {font-size: 1.6em;}
    #classes .form > form > div > label {font-size: 1.4em;}
    #classes #c-add-cont {top: 15.5em;}
}
/* iPhone 6/7/8 PLUS Classes 
@media (max-width: 414px) and (max-height: 736px) {
    #classes .form {margin-top: 11em;}
    #classes .form > form > div > label {font-size: 1.4em;}
    #classes #c-add-cont {top: 13.5em;}
}

/* Class Page */
#class .title {
    font-family: 'Maven Pro', sans-serif;
    bottom: 21em;
    left: 50px;
    position: absolute;
    font-size: 1.8em;
    color: white;
    transition: 200ms;
}
#class .bck-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 8em;
}
#class .bck-btn a {
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    font-size: 1.6em;
    font-family: 'Iceland', cursive;
    padding: 8px;
    position: relative;
    border: none;
    box-shadow: 0px 5px #BF0413;
    color: white;
    transition: 200ms;
}
#class .bck-btn a:hover {
    background-color: #BF0413;
    color: white;
    box-shadow: none;
}

/* Grade Table */
body {
    line-height: 1.25;
}
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}
table th,
table td {
    padding: .625em;
    text-align: center;
}
table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
  
@media screen and (max-width: 2000px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

#class .trash-btn {
    margin-left: 100px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Iceland', cursive;
    border-radius: 50px;
    border: none;
    color: white;
    transition: 200ms;
    background-color: transparent;
}
#class .form {
<<<<<<< HEAD
    border: none;
    color: black;
    height: 20em;
=======
>>>>>>> f7f24dde061c006471212008027be0604e134665
    width: 100%;
    height: 65vh;
    overflow: auto;
    border: none;
    color: black;
    transition: 200ms;
    align-items: baseline;
    display: flex;
}
#class .form:hover {
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0);
}
#class form {
    width: 50vw;
    display: flex;
    justify-content: center;
}
#class .nav-wrapper {
    margin-bottom: 1.5em;
}
#class .total {
    font-size: 1.3em;
    font-family: 'Maven Pro', sans-serif;
    width: 7em;
    bottom: 27.5em;
    position: absolute;
    left: 50px;
    color: white;
}
/* Logged In */
.userlogged {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    padding: 12px;
    font-size: 1.3em;
    position: absolute;
    left: 10em;
    cursor: pointer;
    transition: 300ms;
    top: 2em;
    text-decoration: none;
    box-shadow: 0px 10px #0F2259;
    -webkit-box-shadow: 0px 10px #0F2259;
}
.userlogged:hover {
    box-shadow: none;
    background-color: #0F2259;
}