body,html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-wrapper {
    display: flex;
    justify-content: center;
    padding: 38px;
}

.left-side {
    display: flex;
}
.nav-wrapper > .left-side > div {
    margin-right: 0;
    font-size: 1.5em;
}
.nav-link-wrapper a {
    color: grey;
    text-decoration: none;
    transition: all 300ms;
    border: 1px solid silver;
    padding: 8px;
    font-weight: 1;
}
.nav-link-wrapper a:hover {
    color: white;
    border: 1px solid black;
    background-color: black;
}
a.active {
    color: black;
    border: 1px solid black;
    -webkit-box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);
}
span {
    font-size: 1.0em;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 105px;
    z-index: 1;
    transition: all 500ms;
}
.dropdown-content a {
    text-decoration: none;
    color: darkblue;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.form {
    margin-top: 9em; 
    display: flex;
    justify-content: center;
}
#index .form > form > div {
    margin-top: 10px;
}
#index .form > form > div > label {
    font-size: 1.2em;
}
#index .form > form > div > input {
    margin-top: 10px;
    font-size: 0.9em;
    width: 10em;
}
#index .form > form > div > select {
    width: 8.6em;
    margin-top: 10px;
    font-size: 0.9em;
}
#index .form > form > div > textarea {
    margin-top: 10px;
    font-size: 0.9em;
    width: 30em;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}
#index .form > form > input {
    margin-top: 10px;
    background-color: white;
    font-size: 1.0em;
    padding: 0;
    transition: all 301ms;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
}
#index .form > form > input:hover {
    background-color: black;
    color: white;
}
#index .float {
    float: left;
    width: 6em;
    margin-right: 12em;
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 450px) {
    .nav-wrapper > .left-side > div {font-size: 1.2em;}
    .form > form > div > label { font-size: 1em;}
    div.float { width: 1em; }
    .form > form > div > textarea {width: 25em;}
}
@media (max-width: 410px) {
    .nav-wrapper > .left-side > div {font-size: 1.2em;}
    .form > form > div > label { font-size: 0.9em;}
    div.float { width: 0.5em; }
    .form > form > div > textarea {width: 24em;}
}
#classes #c-add {
    border: 1px solid black;
    padding: 8px;
    background-color: white;
    cursor: pointer;
    transition: all 300ms;
}
#classes #c-add:hover {
    background-color: black;
    color: white;
}
#classes .form > form > div > button {
    background-color: white;
    margin-top: 10px;
    font-size: 0.9em;
    width: 10em;
}
#classes .c-float {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}
#register input {
    width: 20em;
}